| package db
| 
| import "time"
| 
| type #{Model} struct {
| 	ID             int
| 	CreateTime     time.Time
| 	UpdateTime     time.Time
| 	DeleteFlag     int
| }
| 
| func (#{Model}) TableName() string {
| 	return "#{table_name}"
| }